body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(6, 6, 27);
    background-Image: url('sunset.jpg');
    
}
.Tour {
    list-style-image: url('orange.jpeg')
}
header{
    color: rgb(248, 251, 252);
    background-image: url(traveltour.jpeg);
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav a {
    color: gold;
}
.current{
    color: red;
}
main {
    color: rgb(233, 244, 246);
}

footer {
    color: #b40657;
}