body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #330d63;
    color: white;
    text-align: center;
    padding: 15px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #333;
    padding: 10px;
    margin: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.sidebar {
    width: 25%;
    padding: 20px;
    background-color: #f4f4f4;
}

.sidebar img {
    width: 100%;
    border-radius: 8px;
}

main {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    width: 30%;
    background-color: #e3e3e3;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

article img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

@media (max-width: 700px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .container {
        flex-direction: column;
    }

    .sidebar, main {
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article {
        width: 80%;
    }
}

@media print {
    nav {
        display: none;
    }
}
