body {
    front-family: Arial, Helvetics, sans-serif ;
    background-color:#7ca681;
}
underliine{
    text-decoration: underline;
    main {
        color: #020202;
    }
}
itallic{
    font-style: itallic
}
footer{
    color:rgb(35, 18, 52)
}