body { 
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: burlywood;
    padding: 30px 10px 15px 0;
    margin-bottom: 25px;
    width: 80%;
    overflow: visible;
}
header  h1 {
    border: 5px dotted #151414;
}
.wave {
    width: 200px;
    border: thin solid black;
    text-align: center;
    margin: 10px auto;
}
main{
    color: rgb(4, 1, 1);
}